.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans';
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.header-logo {
    background-image: url(../img/main/logo.png);
    height: 75%;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12.5% 0;
}
header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(70,70,70,1);
    box-shadow: 0 0 5px white;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: flex;
}

.header-btn {
    background-color: transparent;
}

body {
    background-color: rgba(20, 20, 20, 1);
}

.zakaz {
    overflow: auto;
}

.nav-btn {
    justify-content: space-between;
    width: 30%;
    margin-left: 3%;
}

.log-btn {
    justify-content: space-between;
    width: 18%;
    margin-right: 3%;
}
.header-txt {
    margin: 0 0;
    padding: 0 0;
}

.carusel-item {

}

